
h1{
    color:darkblue;
    text-align: center;
}

h2{

   font-size: 200%;
   text-align: center;
}
body{
    text-align:center;
    background-image:url("Capture.png");
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#image1{
    width: 200px;
    height: 2000px;
    border: 20px double red;
    margin: 30px;
    object-fit:cover;
    
}

#mainSection,#contactSection{
    background-color:darkcyan;
    border:30px solid  blueviolet;
    padding:5px;
    margin: 200px 30px 1px 1000px;

    float:center;

}

.infosection{
    color:coral;
}
#question{
    background-color:cornflowerblue;
}

/*h1 {
border: 5px solid red;
}

h2 {
border: 4px dotted blue;
}

div {
border: double;*/


